# Backup Files #
~*
*~

# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings
.metadata

# IntelliJ IDEA files
.idea
*.iws
*.ipr
*.iml

# Test output files
*/test-output/*
/test-output/
/test-output
test-output/
test-output/**/*
*/test-output/**/*

# Packages
*.jar

# Maven build files
target
reports
application.properties
*/dependency-reduced-pom.xml

# Gradle build files
build
.gradle
gradle
gradlew
gradlew.bat

# PMD
.pmd

# Merge files
*.orig

#tmp irectories
tmp/
test-output/

# Windows binaries
*.exe
*.dll

local.properties
